/* reposive */
@media (max-width: 930px) {
  .image2 {
    display: block;
  }
  .image1 {
    display: none;
  }
  .head-contant h1 {
    padding: 14px 0px;
    font-size: 39px;
  }

  #head {
    background-color: hsl(256, 26%, 20%);
    height: 510px;
  }
}
@media (max-width: 730px) {
  .navbar {
    display: block;
  }
  .left-navbar {
    display: flex;
    margin: auto;
    /* padding: 20px 0px; */
    /* width: 80%; */
    justify-content: space-between;
  }
  .right-navbar {
    width: 100%;
    background-color: hsl(256, 26%, 20%);
    margin-top: 19px;
    display: contents;
  }
  /* .left {
  } */
  .burger {
    position: relative;
    right: 0px;
  }
  .line1 {
    width: 28px;
    background-color: black;
    height: 4px;
    margin: 0px 3px;
  }

  .line1.show {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-23%) rotate(316deg);
  }
  .line3.show {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-95%) rotate(43deg);
  }
  .line2 {
    width: 28px;
    background-color: black;
    height: 4px;
    margin: 3px 3px;
  }
  .line2.show {
    display: none;
  }
  .line3 {
    width: 28px;
    background-color: black;
    height: 4px;
    margin: 3px 3px;
  }
  .right {
    display: flex;
    /* margin: 50px 0px; */
    height: 190px;
    padding: 50px 0px;
    padding-bottom: 0px;
  }
  .right ul {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .right li {
    padding: 12px 0px;
  }
  .h-hight {
    height: 15px;
  }
  .v-class {
    opacity: 0;
  }
  /* section */
  .SAP {
    display: block;
    margin: 48px 0px;
  }
  #PPP {
    display: contents;
    width: 80%;
  }
  .client svg {
    padding: 0px 5px;
    cursor: pointer;
  }
  .box {
    background-color: hsl(256, 26%, 20%);
    color: white;
    display: flex;
    margin: 57px 0px;
  }
  .contant {
    margin: 50px 13px;
    width: 57%;
    font-family: "Balsamiq Sans", cursive;
    font-size: 22px;
  }
  .contact-btn button {
    padding: auto;
    margin: auto 5px;
    cursor: pointer;
    font-size: 6px;
  }
  #head {
    background-color: hsl(256, 26%, 20%);
    height: auto;
  }
  .head-center {
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    color: white;
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
  }
  /* .head-style {
            position: absolute;
            right: 0px;
            top: 122px;
          } */

  .left-head {
    /* margin: 29px 48px; */
    width: 80%;
    margin: auto;
  }
  .head-contant p {
    text-align: center;
    margin-bottom: 5px;
  }
  .head-contant h1 {
    padding: 14px 0px;
    font-size: 39px;
    text-align: center;
  }
  .head-btn {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
  .p {
    font-size: 50px;
    font-family: "Balsamiq Sans", cursive;
    margin: 31px 0px;
  }
  /* .SAP-style {
            display: none;
          } */
  .image2 {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .head-contant h1 {
    padding: 14px 0px;
    font-size: 32px;
  }
  .footer-contact {
    margin: auto;
    display: block;
    padding: 12px 0px;
  }
  .footer-contact .logo svg {
    margin: auto;

    display: block;
  }
  .client {
    margin: 30px 0px;
    display: flex;
  }
  .client svg {
    padding: 0px 5px;
    cursor: pointer;
    margin: auto;
  }
  .link {
    display: flex;
    margin: auto;
    width: 80%;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
  }
  .link h3 {
    text-decoration: underline;
    text-align: center;
  }
  .link ul {
    text-align: center;
  }
  .link1 {
    width: 50%;
  }
  .link2 {
    width: 50%;
  }
  .link3 {
    width: 50%;
  }
  .link4 {
    width: 50%;
  }
  .link ul li a {
    text-decoration: none;
    color: hsl(256, 26%, 20%);
    font-size: 10px;
    font-family: sans-serif;
  }
  /* .head-style {
            display: none;
          }
          .SAP-style {
            display: none;
          } */
}
/* .contact-btn {
  margin: auto;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
.contact-btn button {
  padding: auto;
  margin: auto 5px;
  cursor: pointer;
  font-size: 6px;
}
.contant {
  margin: 20px auto;
  width: 100%;
  font-family: "Balsamiq Sans", cursive;
  font-size: 27px;
  text-align: center;
  padding-top: 15px;
}
.box {
  display: block;
} */
